@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-image: radial-gradient(#527FB7, #4a72a5, #426692, #395980);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}

#container {
    background-color: #4d4c4c;
    color: #ebebeb;
    width: 60vh;
    text-align: center;
    font-size: 30px;
    padding: 30px;
    border-radius: 30px;
    box-shadow: 0 16px 30px rgba(0, 0, 0, 0.3);
}

.time span {
    font-weight: bold;
    font-size: 2em;
}

.date, .time {
    letter-spacing: 3px;
}
